.faq {
    padding: 5.6vw;

    h2 {
        text-align: center;
        margin-bottom: 24px;
    }

    &__questions {
        &__item {
            background-color: #13151d;
            margin-bottom: 16px;

            &__question {
                color: #fff;
                font-size: 20px;
                font-weight: bold;
                padding: 24px;
                display: block;
                cursor: pointer;
                position: relative;

                &::after {
                    color: #fff;
                    content: '+';
                    position: absolute;
                    top: 0;
                    right: 24px;
                    height: 100%;
                    width: 28px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 40px;
                }
            }

            &__answer {
                max-height: 0;
                overflow: hidden;
                padding: 0 24px;
                transition: max-height 0.5s ease, padding-bottom 0.3s ease;


                a {
                    color: #fff;
                }

                &__sub_answer {
                    margin: 24px 0 24px 40px;
                    list-style-type: disc;
                }
            }

            &--is-open {
                .faq__questions__item__question::after {
                    content: "-";
                }

                .faq__questions__item__answer {
                    max-height: 1600px;
                    padding-bottom: 24px;
                }
            }
        }
    }
}